/* NAVBAR */
.navbar {
    background-color: #000;
    padding: 20px;
}

.nav-link {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.nav-item {
    padding: 0 10px;
}

#margin-nav {
    margin-right: 30px !important;
}

.a-contato {
    margin-right: 30px;
}

.lg-ml-1 {
    margin-left: 0 !important;
}

@media (max-width: 768px) {
    .ml-1,
    .mr-1 {
        margin: auto !important;
    }
}

.nav-item a:hover {
    color: #fff;
}

main {
    background-color: #f6f9f6;
}

.div-divisor {
    width: 100%;
    border-top: solid 3px #293e40;
}

/* SERVIÇOS  */
.div-servicos h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 50px 0;
    text-align: center;
}

.div-card-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    gap: 60px;
}

.div-card-servicos-img {
    width: 438px;
}

.div-card-servicos-img img {
    width: 100%;
}

.div-card-servicos-texto {
    font-family: "Roboto", sans-serif;
    align-items: center;
    text-align: center;
}

.div-card-servicos-texto h4 {
    font-weight: 700;
}

@media (max-width: 768px) {
    .div-card-servicos {
        display: flex;
        flex-direction: column;
    }
}

/* SOBRE NÓS  */

.div-sobrenos h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin: 50px 0;
}

.div-sobrenos p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 80px;
}

/* ORÇAMENTO  */

@media (max-width: 768px) {
    .div-form-orcamento {
        display: flex;
        flex-direction: column;
        gap: 1px !important;
    }

    .div-form-orcamento-input {
        margin-bottom: 0 !important;
    }

    .div-form-orcamento-input input {
        margin-bottom: 10px;
    }
    textarea {
        width: 100%;
    }

    button {
        width: 258px !important;
        margin-top: 30px;
    }
}
.div-titulo-orçamento {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.div-titulo-orçamento h2 h3 {
    font-family: "Roboto", sans-serif;

    font-weight: 700;
    font-size: 28px;
}

.div-orcamento {

    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-form-orcamento {
    display: flex;
    gap: 80px;
    margin-top: 40px;
    justify-content: space-between;
}

.div-form-orcamento-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.div-form-orcamento-input input {
    margin-bottom: 40px;
}

.div-form-orcamento-input input,
textarea {
    background-color: #000;
    border: none;
    padding: 5px;
}

.div-form-orcamento-input input::placeholder,
textarea::placeholder {
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    color: #fff;
}

.div-form-orcamento-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 170px;
    border: none;
    background-color: #293e40;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    margin-bottom: 80px;
}

/* FOOTER */

footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    background-color: #000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    padding: 40px;
    height: 104px;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 500;
}

.div-footer-titulo {
    margin-left: 90px;
}

.div-icon {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 90px;
}
